.slider-section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 75vh;
    min-height: 500px;
    max-height: 900px;
    width: 100%;
    gap: 30px;
    background: linear-gradient(to top, #788E84 90%, #EAE9E9);
    .swiper{
        width: 100%;
        padding-top: 130px;
        height: calc(85% - 90px);
        border: 0px solid;
        .swiper-slide{

        }
    }
    .slides-previews{
        display: flex;
        padding: 0 5%;
        gap: 30px;
        margin-bottom: 2em;
        div{
            display: flex;
            width: calc((100% / 3) - 2em);
            flex-direction: column;
            gap: 1em;
            padding: 1.5em;
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            color: white;
            border: none;
            margin-top: 2em;
        }
    }

    .slides-previews div.active {
        background: rgba(25, 44, 49, 1);


    }

    .slides-previews div:hover {
        background: rgba(255, 255, 255, 0.15);
        transform: scale(1.03);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    }
}
.slider-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 30px;
    margin: auto;
    padding: 30px;
    color : #fff;
    img {
        width: 35%;
        height: 180%;
        margin-top: 53px;
    }
}

.slider-text {
    width: 30%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 1em;
    }
    p {
        font-size: 20px;
    }
    a {
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 20px;
        width: 200px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #192C31;
        color: #fff;
        border: 1px solid #192C31;
        font-weight: bold;
        margin-top: 2em;
    }
    a:hover{
        background-color: #fff;
        color: #192C31 !important;
    }
    .slider-footer {
        width: 75%;
        display: flex;
        padding-bottom: 50px;
        justify-content: space-between;
        margin: auto;

        div {
            width: 25%;
            height: 140px;
            border: 1px solid rgba(0, 0, 0, 0.16);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.16);
            border-radius: 10px;
        }
    }

    .active {
        background-color: rgba(0, 0, 0, 0.53) !important;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #192C31 !important;
}