.slider-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(to top, #788E84 90%, #EAE9E9);
}

.slider-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: auto;
    padding: 30px;
    color : #fff;
    div {
        img {
            width: 718px;
            height: 431px;
            margin-top: 20px;
        }
    }
}

.slider-text {
    width: 30%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1 {
        font-size: 40px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
    button {
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        font-size: 20px;
        background-color: #192C31;
        color: #fff;
        border: 1px solid #192C31;
    }
}

.slider-footer {
    width: 75%;
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    margin: auto;
    div {
        width: 25%;
        height: 140px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.53) !important;
}
