@use '@/styles/variablesbs.scss' as bs;
@use '@/styles/main.scss' as main;
.slider-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 80vh;
    min-height: 650px;
    max-height: 900px;
    width: 100%;
    padding: 0 calc((100% - 1400px) /2);
    padding-bottom: 2em;
    background: linear-gradient(to top, #788E84 90%, #EAE9E9);
    @media (max-width: #{map-get(bs.$grid-breakpoints, xl)}) {
        padding: 0 5%;
    }
    @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
        height: 65vh;
        min-height: 650px;
        max-height: 750px;
    }
    @media (max-width: 520px) {
        min-height: 500px;
        height: 75vh;
    }
    .swiper {
        width: 100%;
        padding-top: 130px;
        height: calc(80% - 90px);
        @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
            height: 100%;
            padding-top: 75px;
            .swiper-wrapper{
                height: 90%;
            }
            .swiper-pagination {
                position: relative;
                margin-top: 1em;
                bottom: 0;
                z-index: 10;
            }
            .swiper-pagination-bullet-active{
                background: main.$color-primary !important;
            }
            .swiper-pagination-bullet {
                width: 10px !important;
                height: 10px !important;
                background-color: #FFF !important;
                margin: 0 3px !important;
                transition: transform 0.2s var(--transitionv2), opacity ;
            }
        }
        .swiper-slide {
            .slider-container {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: space-between;
                margin: auto;
                color: #fff;
                img {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    object-fit: contain;
                    margin-left: 5em;
                    margin-bottom: 1em;

                }
                .slider-text {
                    width: 35%;
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    align-items: flex-end;

                    h2 {
                        font-size: var(--subtitle);
                        font-weight: 900;
                        margin-bottom: 1em;
                    }

                    p {
                        font-size: 20px;
                    }

                    a {
                        width: 140px;
                        height: 40px;
                    }
                    a:hover {
                        background-color: #fff;
                        color: #192C31;
                        box-shadow: unset main.$color-primary !important;

                    }

                    .slider-footer {
                        width: 75%;
                        display: flex;
                        padding-bottom: 50px;
                        justify-content: space-between;
                        margin: auto;

                        div {
                            width: 25%;
                            height: 140px;
                            border: 1px solid rgba(0, 0, 0, 0.16);
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(0, 0, 0, 0.16);
                            border-radius: 10px;
                        }
                    }

                    .active {
                        background-color: rgba(0, 0, 0, 0.53) !important;
                    }
                }
                @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
                    flex-direction: column;
                    justify-content: center;
                    img{
                        width: 100%;
                        object-fit: contain;
                        max-height: 350px;
                        margin-left: 0;
                    }
                    .slider-text{
                        width: 100%;
                        text-align: center;
                        align-items: center;
                    }
                }
                @media (max-width: 520px) {
                    img{
                        max-height: 250px;
                    }
                } 
            }
        }
    }
    .slides-previews {
        display: flex;
        justify-content: space-evenly;
        gap: 2em;
        padding: 10px 5px;
        overflow: scroll;
        @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
            display: none;
        }
        div {
            display: flex;
            width: calc((100% / 3) - 2em);
            max-width: 400px;
            min-height: 150px;
            flex-direction: column;
            gap: 1em;
            padding: 1.5em 2.5em;
            border-radius: 15px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 4px 0 rgba(188, 209, 212, 0.64);
            color: white;
            border: none;
            cursor: pointer;

            b {
                font-size: 22px;
                font-weight: 700;
            }
            span{
                font-size: 16px;
                font-weight: 300;
            }
            b,span{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        div.active {
            background: rgba(0, 0, 0, 0.55);
        }

        div:hover {
            background: rgba(255, 255, 255, 0.15);
        }
    }
    .slides-previews::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}
.swiper-button-next,
.swiper-button-prev {
    color: #192C31 !important;
}
