@use '@/styles/main.scss' as main;

.slider-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 50vh;
    min-height: 550px;
    max-height: 900px;
    width: 100%;
    padding: 0 calc((100% - 1400px) /2);
    padding-bottom: 2em;
    background: linear-gradient(to top, #788E84 90%, #EAE9E9);

    .slider-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        color: #fff;

        img {

            width: 65%;
            height: 100%;
            margin-top: 4em;

        }

        .slider-text {
            width: 60%;
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: flex-end;

            h1 {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 1em;
            }

            p {
                font-size: 30px;
            }

            a {
                width: 160px;
                height: 40px;
            }

            a:hover {
                background-color: #fff;
                color: #192C31;
            }

            .slider-footer {
                width: 75%;
                display: flex;
                padding-bottom: 50px;
                justify-content: space-between;
                margin: auto;

                div {
                    width: 25%;
                    height: 140px;
                    border: 1px solid rgba(0, 0, 0, 0.16);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, 0.16);
                    border-radius: 10px;
                }
            }

            .active {
                background-color: rgba(0, 0, 0, 0.53) !important;
            }
        }
    }
}
@media (max-width: 1400px) {
    .slider-section {
        height: auto !important;
        min-height: 500px !important;
        padding: 0 5% !important;
    }

    .slider-container {
        display:flex !important;

    }

    .slider-container img {
        width: 75% !important;
        height: auto !important;
        margin-top: 5em;
    }

    .slider-text {
        width: 80% !important;
        align-items: center !important;
        display: flex;
        left: 500px !important;

    }

    .slider-text h1 {
        font-size: 32px;
    }

    .slider-text p {
        font-size: 18px;
    }

    .slider-text .slider-footer {
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .slider-text .slider-footer div {
        width: 90%;
        height: auto;
        padding: 15px;
    }
}


@media (max-width: 768px) {
    .slider-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1em !important;
    }

    .slider-container img {
        width: 100% !Important;
        height: auto !important;
        max-height: 300px !important;
        object-fit: contain !important;
        margin-top: 4em !important;
    }

    .slider-text {
        width: 100% !important;
        text-align: center !important;
        align-items: center !important;
        padding: 0 2em;
    }

    .slider-text h1 {
        font-size: 28px;
    }

    .slider-text p {
        font-size: 16px;
    }
}

@media (max-width: 380px) {
    .slider-text {
        padding: 0 1em !important;
    }

    .slider-text h1 {
        font-size: 25px !important;
    }

    .slider-text p {
        font-size: 15px !important;
    }

    .slider-text .slider-footer div {
        width: 100% !important;
    }
}



