@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body{
    font-family: 'Montserrat';
}
main{
    max-width: 1920px;
    margin: 0 auto;
}
section{
    margin: 0 auto 60px auto;
    overflow: hidden;
}

$color-primary: #192C31;
$color-secondary: #2A6550;
$color-accent: #4494A2;
$color-text: #000;
$background: #FFF;
$transitionv1: cubic-bezier(0.075, 0.82, 0.165, 1);
$transitionv2: cubic-bezier(0.575, 0.885, 0.22, 1.275);
$transitionv3: cubic-bezier(0.15, 0.46, 0.45, 0.94);


h1,h2,h3,h4,h5,h6,span,b,p,a,ul,li,strong{
    line-height: normal;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
}
h1,h2{
    font-weight: 900;
}
:root {
    --title:40px;
    --subtitle: 36px;
    --subsbtitle: 28px;
    --text: 18px;
    --title-banner: 50px;
    --text-banner: 22px;
    --title-card: 20px;
    --text-card: 14px;
}
@media (max-width:1050px) {
    :root{
        --title: 36px;
        --subtitle: 32px;
        --subsbtitle: 26px;
        --text: 16px;
        --title-banner: 40px;
        --text-banner: 18px;
    }
}
@media (max-width:520px) {
    :root{
        --title: 28px;
        --subtitle: 24px;
        --subsbtitle: 22px;
        --text: 14px;
        --title-banner: 30px;
        --text-banner: 16px;
    }
}

.btn-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: 16px !important;
    font-weight: 700 !important;
    background-color: $color-primary;
    color: white !important;
    transition: all 0.3s;
}

.btn-details:hover {
    font-size: 18px !important;
    background-color: #FFF;
    color: $color-primary !important;
    box-shadow: 0 0 0 2px $color-primary;
}
.btn-details-services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px !important;
    font-weight: 700 !important;
    background-color: $color-accent;
    color: white !important;
    transition: all 0.3s;
}

.btn-details-services:hover {
    font-size: 18px !important;
    background-color: #FFF;
    color: $color-accent !important;
    box-shadow: 0 0 0 2px $color-accent !important;
}

.btn-details-contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: 16px !important;
    font-weight: 700 !important;
    background-color: $color-primary;
    color: white !important;
    transition: all 0.3s;
}

.btn-details-contact:hover {
    font-size: 18px !important;
    background-color: #FFF;
    color: $color-primary !important;
    box-shadow: 0 0 0 2px $color-primary !important;
}

.btn-details-modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 230px;
    height: 40px;
    border-radius: 30px;
    font-size: 16px !important;
    font-weight: 700 !important;
    background-color: $color-primary;
    color: white !important;
    transition: all 0.3s;
}

.btn-details-modal:hover {
    font-size: 18px !important;
    background-color: #FFF;
    color: $color-primary !important;
    box-shadow: 0 0 0 2px $color-primary;
}



