$body-color: #000;
$grid-breakpoints: (
    sm: 520px,
    md: 890px,
    lg: 1050px,
    xl: 1400px,
);
$container-max-widths: (
    sm: 90%,
    md: 90%,
    lg: 1050px,
    xl: 1400px,
);

@import 'bootstrap/scss/bootstrap';