@use '@/styles/variablesbs.scss' as bs;
@use '@/styles/main.scss' as main;
header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px calc((100% - 1400px) /2);
    z-index: 99;
    transition: .5s var(--transitionv2) all;
    @media (max-width: #{map-get(bs.$grid-breakpoints, xl)}) {
        padding: 10px 5%;
        height: 85px;
    }
    @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
        height: 75px;
    }
    .logo {
        display: flex;
        gap: .5em;
        align-items: center;
        height: 100%;
        z-index: 20;
        svg {
            width: auto;
            height: 100%;
            path{
                fill: #000;
            }
        }
        span {
            font-size: calc(var(--text) + 2px);
            font-weight: 700;
            text-transform: uppercase;
            color: main.$color-text;
        }
    }
    .icon{
        z-index: 20;
        @media (max-width: #{map-get(bs.$grid-breakpoints, lg)}) {
            font-size: 2em;
        }
        @media (max-width: #{map-get(bs.$grid-breakpoints, md)}) {
            font-size: 1.8em;
        }
    }
    .nav-header {
        display: flex;
        width: 70%;
        list-style: none;
        justify-content: flex-end;
        gap: 0 3em;
        align-items: center;
        z-index: 1;
        @media (max-width: 1050px) {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            top: -120vw;
            right: 0;
            height: calc(100vh - 74px);
            z-index: 10;
            opacity: 0;
            gap: .5em;
            background-color: #FFF;
            transition: .5s main.$transitionv1 all;
        }
        @media (max-width: 520px) {
            height: calc(100vh - 74px);
        }
        li {
            a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
                font-size: 16px;
                box-shadow: unset !important;
            }
            a:hover {
                color: #192C31;
            }
        }
    }
}
.nav-header-container-list{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0 3em;
    justify-content: flex-end;
}
header.sticky{
    position: fixed;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


header.active{
    @media (max-width: 1050px) {
        position: fixed;
        background-color: #FFF;
    }
}

@media (max-width: 1050px) {
    .nav-header.open {
        top: 74px;
        gap: 4em;
        opacity: 1;
        pointer-events: all;
        justify-content: space-around;
        .nav-header-container-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 30rem;
            gap: 1em;
        }
        .social-header {
            display: flex;
            ul {
                display: flex;
                gap: 2em;
                list-style: none;
                justify-content: center;
                justify-items: center;
                li {
                    a {
                        font-size: 50px;
                        color: #192C31;
                        display: flex;
                        flex-direction: column;
                    }
                    a:hover {
                        color: #FFF;
                    }
                }
            }
        }
    }
}
@media (max-width: 520px) {
    .nav-header.open {
        top: 74px;
    }
}