@import url('@/styles/components/Slider/sliderSection.scss');

/*Section list*/
.section-2-services {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section-2 {
    text-align: center;
    padding: 20px;
}

.section-2-services-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    h3 {
        font-weight: bold;
        padding: 10px;
    }
}

.section-2-services-text {
    width: 70%;
}

.section-2-services-button {
    padding: 10px;
    button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: #4494A2;
        color: white;
        font-weight: bold;
        border: none;
    }
}


/* Section icons*/

.icons-section {
    background: white;
    padding: 30px 0;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 150px;
}

.icon-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15em;
    margin-top: 80px;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 2rem;
}

.icon-text {
    color: #4a5568;
    margin-top: 5px;
}

/* Section cards*/

.card-service {
    background-color: #4494A2;
    width: 100%;
    max-width: unset;
}

.container {
    padding: 40px 0;
    text-align: center;
    width: 100%;
    max-width: 120em;
    margin-top: -4em;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: #f3f4f6;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Section contact*/

.section-4 {
    background-color: white;
    padding: 50px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
        font-weight: bold;
        padding-bottom: 20px;

    }

    button {
        padding: 10px;
        border-radius: 10px;
        width: 25%;
        background-color: #192C31;
        color: #fff;
        border: 1px solid #192C31;
        margin-top: 2em;
        font-weight: bold;

    }
    button:hover{
        background-color: #fff;
        color: #192C31;
    }
}