@import url('@/styles/components/Slider/sliderSection.scss');

/*Section list*/

.section-2-services {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section-2 {
    text-align: center;
    margin-bottom: 1em !important;
}

.section-2-services-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    h3 {
        font-weight: bold;
        padding: 10px;
        margin-bottom: 15px !important;
    }
    li{
        margin-bottom: 10px !important;
    }
}

.section-2-services-text {
    width: 70%;
}

.section-2-services-button {
    padding: 10px;
    button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: #4494A2;
        color: white;
        font-weight: bold;
        border: none;
    }
    button:hover {
        background-color: #fff !important;
        color: #4494A2 !important;
        border:1px solid #4494A2 !important;
    }
}
/* Section icon*/

.icons-section {
    background: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 2em;
}

.container{
    margin-top: 0em !important;
}

.icon-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.icon-subtitle {
    font-size: 20px;
    color: #192C31;
    margin-top: 1em !important;
}

.icons {
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
    font-size: 3rem;
    color: black;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.icon-text {
    color: black;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.icon-block:hover {
    transform: scale(1.1);

}

.icon-block:hover .icon {
    transform: rotate(10deg);
    color: #4494A2;
}

/* Section cards*/

.card-service {
    background-color: #4494A2;
    width: 100%;
    max-width: unset;
}

.container {
    padding: 40px 0;
    text-align: center;
    width: 100%;
    max-width: 120em;
    margin-top: -4em;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px !important;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: #f3f4f6;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Section contact*/

.section-4 {
    background-color: white;
    padding: 50px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
        font-weight: bold;
        padding-bottom: 20px;

    }

    button {
        padding: 10px;
        border-radius: 10px;
        width: 25%;
        background-color: #192C31;
        color: #fff;
        border: 1px solid #192C31;
        margin-top: 2em;
        font-weight: bold;

    }
    button:hover{
        background-color: #fff;
        color: #192C31;
    }
}

/*Section Modal*/

.modal-overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
}

.btn-modal {
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    background-color: #192C31 !important;
    color: #fff;
    border: 1px solid #192C31;
    margin-top: 2em;
    font-weight: bold;
    position: relative;
}
.btn-modal:hover{
    background-color: #fff !important;
    color: #192C31 !important;
}

.modal-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 90%;
    gap: 10px;
}

.modal-grid-item {
    width: 30%;
    margin: 10px;
    object-fit: contain;
    padding: 10px;
    img {
        width: 80%;
        object-fit: contain;
    }
    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
}
.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem 0;
    padding: 30px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 4px;
        background: #192C31 ;
        transform: translateY(-50%);
    }

    .timeline-item {
        position: relative;
        text-align: center;
        flex: 1;

        .timeline-dot {
            width: 240px;
            height: 20px;
            background: #192C31;
            position: relative;
            z-index: 2;
            margin: 0 auto;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

            clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-left: 15px solid white;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
        }


        .timeline-content {
            background: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 10px;

            h3 {
                font-size: 1rem;
                color: #192C31;
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                font-size: 0.85rem;
                color: #555;
            }
        }
    }
}

.modal-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
}

.img-fluid {
    width: 100%;
    height:250px !important;
    object-fit: contain;
}

@media screen and (max-width: 1000px) {
    .section-4{
        button{
            width: 100%;
        }
    }
    .section-2-services-text li{
        width: 150%;
    }
}

@media (max-width: 1024px) {
    .icons-section {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .icons {
        flex-direction: column;
        align-items: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .icons {
        margin-top: 3em;
        margin-bottom: 5em;
    }
}